:root {
  --bg: #000000;
  --card: #ffffff;
}

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: #222;
}

.app-root main {
  padding: 24px;
  display: flex;
  justify-content: center;
}
